<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <link rel="stylesheet" href="../stylesheets/login.css">
    <link rel="stylesheet" href="../stylesheets/profile.css">
    <div id="back">
        <div id="card">
            <img src="https://image.flaticon.com/icons/png/512/147/147144.png">
            <h2>
                <%= user.name %>
            </h2>
            <h2>
                <%= user.email %>
            </h2>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi veniam rem neque consequuntur, illo facere
                sunt? Adipisci quam, quas labore, numquam obcaecati hic fuga nobis magni id odio eius eligendi modi
                recusandae sequi repudiandae praesentium quae aperiam, voluptatibus sunt repellendus? Sapiente explicabo
                labore quia quibusdam voluptatem tenetur illo molestias doloribus!</p>
            <a href="/timeline">Go to Timeline</a>
            <a href="/">Logout</a>
        </div>
    </div>
</body>

</html>